<%- include("header") -%>


<h2>This is the about page for explaining Who am i !!!</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nam distinctio, eos ex repellat inventore! Sunt, ab illo eum nobis harum, nesciunt quis quae in facere minus odit autem quam.</p>

<%- include("footer") -%>